---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <h1 class="h1">Omg, paiseh sia!</h1>
      <p>I think here got missing page leh...</p>
    </div>
    <a href="/">Nvm, you go home first</a>
  </div>
</BaseLayout>
