---
interface Props {
  id?: string;
  href?: string;
  color?: string;
  target?: string;
  isCircular?: boolean;
  showHover?: boolean;
  inverse?: boolean;
  classes?: string;
}

const {
  id,
  href,
  color = "",
  target = "_self",
  isCircular = true,
  showHover = true,
  inverse = false,
  classes,
} = Astro.props;
---

<div class="relative z-[1]">
  <a
    id={id}
    href={href}
    target={target}
    class:list={[
      isCircular
        ? "rounded-full after:rounded-full"
        : "rounded-xl after:rounded-xl",
      showHover
        ? "hover:translate-x-1 hover:translate-y-1 hover:after:hidden"
        : "cursor-default",
      color === ""
        ? inverse
          ? "bg-black dark:bg-white text-white dark:text-black"
          : "bg-white dark:bg-black"
        : color + " " + "text-black",
      inverse && color === ""
        ? "dark:border-black border-white after:bg-black dark:after:bg-slate-500 "
        : "dark:border-white border-black after:bg-black dark:after:bg-slate-500 ",
      "relative flex border-2 after:absolute after:-z-[1] after:overflow-x-hidden after:inset-1 after:h-[101%] after:w-[101%]",
      classes,
    ]}
  >
    <slot />
  </a>
</div>
