---
import Link from "./Link.astro";
import { Image } from "@astrojs/image/components";

const backgroundColor = "rgba(255, 255, 255, 1)";
---

<header>
  <a href="/" class="logo">
    <Image src="/logo.svg" alt="logo" height={50} width={50} />
  </a>
  <input type="checkbox" class="nav-toggle" />
  <nav>
    <ul>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/projects/">Projects</a>
      </li>
      <li>
        <a href="/">Experience</a>
      </li>
      <li>
        <a href="/">Contact</a>
      </li>
      <li>
        <a href="/">Resume</a>
      </li>
    </ul>
  </nav>
</header>
