---
import { Icon } from "astro-icon";
import socialData from "../data/socialData.json";
import Card from "./Card.astro";
---

{
  socialData.map((social) => (
    <a href={social.link}>
      <Card classes="p-2">
        <Icon name={social.icon} width={20} />
      </Card>
    </a>
  ))
}
