---
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import filterProjects from "../../utils/filterProjects";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }: any) {
  const allProjects = await Astro.glob("./*.md");
  const filteredProjects = filterProjects(allProjects);

  return paginate(filteredProjects, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
console.log(page);
---

<MainLayout title="My Projects">
  <section class="container" aria-label="My Projects">
    <h1 class="h1">My Projects</h1>
    <div class="post-container">
      {
        page.data.map((project: any) => (
          <ProjectCard
            frontmatter={project.frontmatter}
            url={project.url}
            tagType="h2"
          />
        ))
      }
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</MainLayout>
