---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="My Projects">
  <ul>
    <li>
      <a href="./project-1/">Project 1</a>
    </li>
    <li>
      <a href="./project-2/">Project 2</a>
    </li>
    <li>
      <a href="./project-3/">Project 3</a>
    </li>
    <li>
      <a href="./project-4/">Project 4</a>
    </li>
    <li>
      <a href="./project-5/">Project 5</a>
    </li>
    <li>
      <a href="./project-6/">Project 6</a>
    </li>
  </ul>
</MainLayout>
