---
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const allProjects = await Astro.glob("./*.md");
---

<MainLayout title="My Projects">
  <section class="container" aria-label="My Projects">
    <h1 class="h1">My Projects</h1>
    <div class="post-container">
      {
        allProjects.map((project) => (
          <ProjectCard
            frontmatter={project.frontmatter}
            url={project.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
  <!-- <ProjectCard
    frontmatter={allProjects[0].frontmatter}
    url={allProjects[0].url}
    tagType="h2"
  /> -->
</MainLayout>
