---
import MainLayout from "../../layouts/MainLayout.astro";
import ProjectCard from "../../components/ProjectCard.astro";
import filterProjects from "../../utils/filterProjects";

const allProjects = await Astro.glob("./*.md");
const filteredProjects = filterProjects(allProjects);
---

<MainLayout title="My Projects">
  <section class="container" aria-label="My Projects">
    <h1 class="h1">My Projects</h1>
    <div class="post-container">
      {
        filteredProjects.map((project) => (
          <ProjectCard
            frontmatter={project.frontmatter}
            url={project.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
