---
import MainHead from "../layouts/MainHead.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "My Astro Portfolio",
  description = "My personal portfolio created with the Astro framework.",
} = Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <slot>Default</slot>
  </body>
</html>
