---
import MainHead from "./MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "My Astro Portfolio",
  description = "My personal portfolio created with the Astro framework.",
} = Astro.props as Props;
---

<html lang="en">
  <MainHead {title} {description} />
  <body>
    <Nav />
    <main>
      <slot>Default</slot>
    </main>
    <Footer />
  </body>
</html>
